<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
To initiate the password reset process for your TestSite Account,
click the link below:

If clicking the link above doesn't work, please copy and paste the token in a psa
window instead.

<!--{{current_user}}-->
<!--{{username}}-->
<!--{{email}}-->
<p>Token: {{token}}</p>

<!--<ul>-->
<!--<li><a href="http://127.0.0.1:8080{{reset_password_url}}"></a></li>-->
<!-- </ul>-->


Sincerely,
The Dataviv Team
</body>
</html>